<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PLAYERS</a>
  <a [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">TEAMS</a>
  <a [routerLink]="['/details']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DETAILS</a>
</nav>
